.review_container {
    width: 100%;
    background-color: var(--clr-light-blue-btn);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: inset 4px 4px 5px 0 rgba(255, 255, 255, 0.25),
    inset -4px -4px 5px 0 rgba(0, 0, 0, 0.125),
    0 0 10px 1px rgba(0, 0, 0, 0.25);

    hr {
      color: var(--clr-primary);
      width: 100%;
    }
    .reviewer {
      width: 100%;
      display: flex;
      justify-content: left;
      gap: 1rem;
      align-items: center;
      .reviewer_img {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        img{
          width: 100%;
          height: 100%;
          border-radius: 50px;
          object-fit: cover;
        }
      }
      .reveiwer_info {
        .job {
          color: var(--clr-primary);
          padding: 0;
          margin: 0;
        }
      }
    }
  }
  
  
  @media (max-width:900px) {
    .review_container {
    //   width: 400px;
      padding: .5rem;
      font-size: 1rem;
  
    }
  }