.choose_us_container{
    height: fit-content;
    border: 1px solid grey;
    padding: 0 0 10px 0;
    background-color: var(--clr-white);
border-radius: 20px 0 40px 0;
    box-shadow: 5px 5px 4px var(--clr-border-shadow);
    
    .chooseUS_image{
        height: 80%;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px 0 40px 0;
        }
    }
    .info{
        height: 60%;
        padding: 10px 20px;
    }
}